# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Test & Evaluation data
/spine_editor/
/spine/
/spine_batch/
/spine_export/
/gifs/
*.gif
__data
*.bundle
*.assetbundle
oracle_results*.json
fidelity*.json
fidelity*.md
